rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /store/catalog/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }

    match /store/promotions/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email is string
        && request.auth.token.email.matches('.*@admin[.]auth[.]sanmartinsr[.]local');
    }
  }
}
